body{
	background-image: url("../images/crossword.png");
}


.subHeader{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #2B3856;
}

* {
	border-radius: 0 !important;
}

.loginInput{
	width: 75px;
	height: 20px;
}

.loginButton{
	width: 100px;
	height: 20px;
}

.repoElem{
	border: solid;
	border-width: 0.1px;
	border-color: #a6e1ec;
	margin: 20px;
}